# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
out/
gen/
build/

bayesian-net-project.iml

.gradle/

src/main/java/it/unito/bayesian/net/CustomEliminationAsk\.java
